*{
    padding: 0;
    margin: 0;
}

.header{
display: flex;
flex-direction: row;
justify-content:space-between;
/* flex-wrap: wrap;  */
background: url("Merged59.png") no-repeat;
}
 a{
    text-decoration-line: none;
    padding: 1em;
 }
.menu{
    padding: 2rem;
}
.section1{
text-align: center;
background-image: url("Enchiffres.png");
background-size: cover;
padding-bottom: 3px;
}

.icons1{
    display: flex;
    justify-content: space-around;
   
}

.arabe{
    border: 1px solid orange;
    padding: .5em;
    border-radius: 1em;
}
